* {
    margin: 0;
    padding: 0;
  }
  /* The navigation bar */
.navbar {
    overflow: hidden;
    background-color:blue;
    position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    width: 100%; /* Full width */
  }
  header{
      color: blueviolet;
      position: fixed;
      font-size: 30px;
      left: 50%;
      font-family: 'Courier New', Courier, monospace;
      font-weight: bold;
  }